body {
	background-color: blanchedalmond;  
	
}
.menu, .menuAdmin, .menuUser{
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0;
  width: 100%;
}

.menu a, .menuAdmin a, .menuUser a {
  float: left;
  display: block;
  color: peachpuff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 peachpuff;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.menu a:hover, .menuAdmin a:hover, .menuUser a:hover {
  background: peachpuff;
  color: black;
  box-shadow: inset 100px 0 0 0 0 peachpuff;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5%;
  width: 100%;
  background-color:#333;
  color: peachpuff;
  padding: 14px 16px;
  padding-top:14px 16px;
}

.Footer a {
  padding: 14px 16px;
  padding-top:14px 16px;
  text-align: left;
}

.Footer span {
  padding: 14px 16px;
  padding-top:14px 16px;
  text-align: center;
}

.corniceHome {
	font-family: Georgia, 'Times New Roman', Times, serif;
	display: flex;
	flex-direction: row;
	justify-content:center;
	padding-top: 3%;
}

.immagineHome {
	border-radius: 25px 25px 25px 25px;
	border-top: 25px;
	padding-top: 5%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.elenco, .scheda, .myform {
	font-family: Georgia, 'Times New Roman', Times, serif;
	display: flex;
	flex-direction: row;
	justify-content:center;
	padding-top: 3%;
}

.elencoText, .schedaText, .formText {
	padding-right: 5%;
}

.titoloElenco, .titoloScheda, .titoloForm {
	text-align: center;
	padding-bottom: 5%;
}

.corpoElenco, .corpoScheda, .corpoForm{
	text-align: left;
}

.elenco a, .scheda a, .myform a{
  box-shadow: inset 0 0 0 0 #333;
  color: #333;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.elenco a:hover, .elenco a:hover, .myform a:hover{
  box-shadow: inset 100px 0 0 0 #333;
  color:peachpuff;
}

.deleteButton {
	background-color: brown;
	color: white;
}

.newButton {
	background-color: green;
}

.addButton {
	background-color:aqua;
}

.removeButton {
	background-color:yellow;
}











/*    SFONDO    */

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

/*    INDEX   */
.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}





 